div#wrap-nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 110;
    width: 100%;
}

.top-nav {
  background: #333;
}

.deep-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-nav ul li {
    float: left;
}

.deep-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.deep-nav {
    width: 996px;
    margin: 0 auto;
    height: 40px;
    display: table;
}

.deep-nav .seg-bar {
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
}

/* button nav  */

.bottom-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background: #dfdfdf;
}

.bottom-nav ul li {
    float: left;
}

.bottom-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .3s ease;
  display: inline-block;
  padding-bottom: 10px;
  color: #333;
}

.bottom-nav ul li a:hover {
  border-bottom: 4px solid #fff;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .top-nav ul li {
      float: none;
  }

  .bottom-nav ul li {
      float: none;
  }
}

